@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to Your Application!</h2>

<p>Choose one of the following options:</p>

<ul>
    <li>@Html.ActionLink("Log in with your email", "Login", "Account")</li>
    <li>@Html.ActionLink("Register a new account", "Register", "Account")</li>
</ul>
